{
  "singleQuote": true,
  "semi": true,
  "quoteProps": "as-needed",
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "printWidth": 120,
  "arrowParens": "always"
}
